<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Aquarium</title>
    <style>
      #aquarium {
        background-image: url("{{url_for('static', filename='assets/background.png')}}");
      }
    </style>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <div id="aquarium" role="region" aria-label="Aquarium" tabindex="0"></div>
    <script
      type="application/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
